<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Логин и пароль</title>
</head>
<body>
    <h1>Главная</h1>
    <form action="{{ url_for('profile') }}" method="post">
        <input type="text" name="login" placeholder="Имя пользователя">
        <input type="password" name="password" placeholder="Пароль">
        <button type="submit">Отправить</button>
    </form>
    {% for message in get_flashed_messages(category_filter=["error"]) %}
        <div class="error">{{ message }}</div>
    {% endfor %}
</body>
</html>