<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Главная
        {% endblock %}
    </title>
</head>
<body>
    {% block header %}
        <div style="width: 1200px; background-color: #f3f3f3; display: flex; justify-content: flex-end; padding: 7px; align-items: center;">
            <a style="margin-right: 20px" href="/">Главная</a>
            <a style="margin-right: 20px" href="/about">О нас</a>
            <a style="margin-right: 20px" href="/contact">Контакты</a>
        </div>
    {% endblock %}

    {% block content %}
        <p>
            Nonumyne erroribus.  Dicantad veniam prodesset tacimates metus expetendis partiendo conceptam massa fugit ocurreret adipiscing signiferumque.  Persiusmeliore eum mentitum lorem potenti equidem feugiat finibus.  Similiquemazim neque posidonium intellegebat pri solum libris.  Meafabellas facilisi.  Sempernon condimentum adhuc posse perpetua alterum nulla hendrerit at sanctus.
            Legereprincipes adolescens epicuri.  Consectetuercurabitur parturient scripserit reque aptent hendrerit.
            Morbipatrioque ubique fuisset voluptatum porttitor deserunt esse contentiones honestatis luctus placerat ubique sem saperet fastidii sea epicuri partiendo.  Vidererdignissim habemus interpretaris consul labores elaboraret mattis maluisset scelerisque alienum tritani cursus.  Salenobis egestas omittam utinam massa aliquet honestatis tincidunt quisque iaculis adipiscing sit diam nihil pellentesque alienum etiam pro.
            Dictumassueverit voluptaria definitionem dicta adipisci accusata verterem donec sodales signiferumque eos falli errem prompta debet.  Namdiam maluisset error altera conceptam placerat vituperata sociosqu equidem.  Omittamat vivendo agam intellegat doctus egestas perpetua conceptam conceptam molestie himenaeos condimentum sollicitudin at suas perpetua constituto sollicitudin similique.  Interpretarishonestatis consequat constituam iaculis docendi qualisque arcu.  Molestiaeplacerat nihil fabulas constituto ad maecenas deseruisse tempor lectus hinc reprimique debet.  Volumusoffendit eruditi cum semper torquent tempus quo legimus doctus posidonium adipisci assueverit.
            Usudicit tamquam quo mollis vidisse affert pro principes mattis facilis alienum ligula.  Tationignota vix persius diam tation dico autem suspendisse autem a.  Sodalesplacerat posidonium volutpat porttitor facilis prodesset sagittis definitionem dictum saperet platea aliquip primis an velit neglegentur laudem.  Fuscevivamus posuere dicit gravida vidisse sollicitudin falli oratio pericula cetero nihil.
        </p>
    {% endblock %}
</body>
</html>