{% extends 'base.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
    <p>
        Ullamcorpereu sodales viverra vivendo maiorum neque netus omittantur potenti mediocritatem varius metus eos delenit litora himenaeos vituperatoribus ei.  Salutatusintellegat te autem quisque viris quem patrioque.  Reprimiquemaiorum quidam commodo aliquip pri quaerendum velit accusata dico phasellus massa dico maluisset quaestio luptatum congue.  Gravidamollis eloquentiam epicuri habeo petentium.  Evertiturscripserit discere dicam mandamus et intellegat metus electram iaculis cum aptent consectetuer nec habeo docendi purus interesset potenti vero.  Autemmalesuada mattis lectus sed erat quis.
    </p>
{% endblock %}