{% extends 'base.html' %}


{% block title %}
    Одежда
{% endblock %}


{% block name %}
    <h1>Одежда</h1>
{% endblock %}


{% block banner %}
    {{ super() }}
{% endblock %}


{% block content %}
    <img src="../static/img/clothes.jpg" style="width: 400px; padding: 30px;">
    <p style="width: 400px; margin-left: 30px;">
        Aliquetaccusata mucius sit numquam pharetra dolor mattis pulvinar utinam disputationi sonet mediocrem adolescens dicat equidem sollicitudin vulputate.  Mandamussale repudiare reque falli.  Suscipitmolestiae fugit te facilisi minim pericula reprehendunt fastidii duo autem parturient ultricies latine purus honestatis petentium menandri expetenda tibique.  Sumodefiniebas suscipiantur blandit dis omittam quisque turpis donec erat lorem.
    </p>
{% endblock %}