{% extends 'base.html' %}

{% block title %}
    Одежда
{% endblock %}

{% block content %}
    {{ super() }}
    <p>
        Adhucsit falli efficitur ancillae natum definitionem euripidis ne tantas nostrum lorem atqui comprehensam enim adipisci urna.  Vehiculasplendide esse curabitur urbanitas recteque quod ridiculus scripserit ligula porttitor malorum efficitur magna ligula voluptatum perpetua.  Putentmel maiorum delenit scripta quem graecis volutpat.  Nostrumnoluisse feugait est arcu aperiri propriae gubergren falli dissentiunt repudiandae saepe.  Unuminani fermentum himenaeos voluptaria omittam solet comprehensam omittam mediocritatem dapibus graeco meliore fastidii reprimique usu vix rutrum possim mentitum.
        Laciniaut splendide contentiones eam qualisque labores facilis prodesset solet pretium percipit nascetur tempor eruditi euripidis principes quis.  Graecemovet ceteros possim viris vocibus diam alia nibh.  Aliquiputinam taciti discere euismod alterum expetendis ad quem curabitur fabellas.
    </p>
{% endblock %}