{% extends 'base.html' %}


{% block title %}
    Куртка
{% endblock %}


{% block name %}
    <h1>Куртка</h1>
{% endblock %}


{% block banner %}
    {{ super() }}
{% endblock %}


{% block content %}
    <img src="../static/img/jacket.jpg" style="width: 400px; padding: 30px;">
    <p style="width: 400px; margin-left: 30px;">
        Veriadipisci persecuti splendide atqui dolorem consequat vix deterruisset elitr pri convallis blandit ullamcorper eirmod numquam malesuada.  Posseiriure intellegebat luptatum comprehensam.  Ferridolorum noluisse maiorum graece delectus primis prodesset efficiantur commodo comprehensam deserunt commodo usu.  Miconsul quem convenire dignissim posse disputationi quaeque delenit mnesarchum interesset aliquip primis eruditi congue.  Nullamorbi alia maiestatis maiorum quaestio utinam dissentiunt ea intellegat quot pri minim hac voluptaria pro harum regione.
    </p>
{% endblock %}