{% extends 'base.html' %}


{% block title %}
    Обувь
{% endblock %}


{% block name %}
    <h1>Обувь</h1>
{% endblock %}



{% block banner %}
    {{ super() }}
{% endblock %}


{% block content %}
    <img src="../static/img/shoes.jpeg" style="width: 400px; padding: 30px;">
    <p style="width: 400px; margin-left: 30px;">
        Adhucfacilis fabulas rutrum decore molestiae metus definitiones primis menandri animal ancillae viderer dico postulant dicam.  Regioneelit numquam sem impetus condimentum non felis tibique elit.  Voluptatibusindoctum fringilla platea periculis finibus conceptam sem tota dissentiunt dignissim eripuit commune luctus referrentur imperdiet nostrum instructior consequat.
    </p>
{% endblock %}